/* line 1, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\000031}}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 8, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\000038}}
html {
  overflow: auto;
  overflow-y: scroll;
}
/* line 13, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000313}}
body {
  background: #fff;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}
/* line 21, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000321}}
p {
  margin: 0 0 1.5em 0;
  line-height: 1.8;
  font-size: 1.7em;
}
/* line 27, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000327}}
p.first {
  padding-top: 1.5em;
  margin: 0;
}
/* line 32, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000332}}
li {
  line-height: 1.5;
}
/* line 36, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000336}}
li a {
  padding: .3em 0;
  display: block;
}
/* line 41, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000341}}
ul {
  padding: 2em 0 0 0;
}
/* line 45, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000345}}
ul li {
  display: inline-block;
  background: #fff;
  border-left: .5em solid #008cff;
  font-size: 1.6em;
  padding: .5em 1em;
  margin: 0 .5em 1em 0;
}
/* line 53, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000353}}
ul li a,
ul li ul li a:visited {
  display: inline;
}
/* line 57, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000357}}
ul li:hover {
  background-color: #0088ff;
  border-color: #fff;
}
/* line 61, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000361}}
ul li:hover a {
  color: #fff;
}
/* line 67, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000367}}
a,
a:link,
a:active,
a:visited {
  color: #0088ff;
  text-decoration: none;
}
/* line 71, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000371}}
a .symbol,
a:link .symbol,
a:active .symbol,
a:visited .symbol {
  color: #954a00;
  padding-top: 0;
  margin-top: 0;
}
/* line 78, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000378}}
a:hover {
  color: #0033ff;
}
/* line 81, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000381}}
a:hover .symbol {
  color: #0088ff;
}
/* line 92, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000392}}
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}
/* line 102, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003102}}
.time {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 107, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003107}}
.roundbordered {
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
}
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.eot');
  src: url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.woff') format('woff'), url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* line 138, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003138}}
.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.8em;
}
/* line 153, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003153}}
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}
/* line 159, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003159}}
.contentback {
  color: #000;
  /* This notation allows solid elements inside non solid elements */
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 168, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003168}}
#introduction {
  background-image: url("../images/roca.jpg");
  background-color: #e7ecff;
}
/* line 172, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003172}}
#introduction header {
  font-size: 4em;
  font-family: 'Julius Sans One', sans-serif;
  color: #0088ff;
  text-shadow: 1px 0px 1px #969696;
  padding-left: 1.1em;
  background-image: url("../images/jonasurbano.png");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 185, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003185}}
#introduction .contentback-left {
  margin-top: 2.5%;
}
/* line 189, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003189}}
#introduction .important {
  color: #954a00;
}
/* line 194, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003194}}
.actions {
  margin-bottom: 1.25%;
}
/* line 198, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003198}}
#sosti {
  background-position: top left;
  background-image: url("../images/frappe.jpg");
  background-color: #BBE5F9;
}
/* line 203, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003203}}
#sosti .contentback-right {
  font-weight: lighter;
}
/* line 207, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003207}}
#sosti .time,
#sosti .important {
  color: #5c7d44;
}
/* line 212, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003212}}
#ducktionary {
  background-image: url("../images/duck.jpg");
  background-color: #39a888;
}
/* line 216, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003216}}
#ducktionary .time,
#ducktionary .important {
  color: #009449;
}
/* line 220, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003220}}
#ducktionary .contentback-keft {
  font-weight: lighter;
}
/* line 227, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003227}}
#pfc {
  background-image: url("../images/murallaciudad.jpg");
  background-color: #d0a583;
}
/* line 231, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003231}}
#pfc .contentback-right {
  font-weight: lighter;
}
/* line 235, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003235}}
#pfc .time,
#pfc .important {
  color: #d0a583;
}
/* line 241, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003241}}
#java-desktop {
  background-image: url("../images/sol.jpg");
  background-color: #525e74;
}
/* line 245, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003245}}
#java-desktop .contentback-left {
  font-weight: lighter;
}
/* line 249, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003249}}
#java-desktop .time,
#java-desktop .important {
  color: #f69862;
}
/* line 254, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003254}}
#ecdo {
  background-image: url("../images/agua.jpg");
  background-color: #599fd2;
}
/* line 258, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003258}}
#ecdo .contentback {
  font-weight: lighter;
}
/* line 262, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003262}}
#ecdo .time,
#ecdo .important {
  color: #599fd2;
}
/* line 267, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003267}}
#ending {
  background-image: url("../images/jonasurbano2.jpg");
  background-color: #d7a46d;
  background-position: center right;
}
/* line 272, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003272}}
#ending .contentback {
  font-weight: lighter;
}
/* line 276, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003276}}
#ending .time,
#ending .important {
  color: #f69862;
}
/* line 280, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003280}}
#ending .important {
  color: #954a00;
}
/* line 285, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003285}}
.important {
  font-weight: bold;
}
/* line 289, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003289}}
a.cv {
  display: inline-block;
  border: solid 1px #0033ff;
  margin-top: 1.2em;
  background-color: #0088ff;
  color: #fff;
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 297, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003297}}
a.cv:hover {
  border: solid 1px #0088ff;
  background-color: #AED9FF;
  color: #0088ff;
}
/* line 304, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003304}}
.screenshots {
  width: 100%;
}
/* line 308, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003308}}
#img-ducktionary {
  width: auto;
  max-width: 100%;
}
@media all and (orientation: landscape) and (min-width: 740px) {
  /* line 314, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003314}}
  section {
    height: 100%;
  }
  /* line 318, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003318}}
  .contentback-left {
    max-width: 50%;
    padding: 2%;
  }
  /* line 323, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003323}}
  .contentback-right {
    padding: 3.5%;
  }
  /* line 327, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003327}}
  .alternate {
    padding-left: 55%;
  }
  /* line 331, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003331}}
  a.cv {
    padding: 0 0.6em;
  }
}
@media all and (orientation: portrait), (orientation: landscape) and (max-width: 740px) {
  /* line 339, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003339}}
  .contentback-left {
    padding: 2%;
  }
  /* line 343, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003343}}
  .contentback-right {
    padding: 2%;
  }
  /* line 347, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003347}}
  .alternate {
    padding-left: 5%;
  }
  /* line 351, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003351}}
  #introduction header {
    font-size: 3em;
  }
  /* line 355, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003355}}
  a.cv {
    padding: 0 1.6em;
  }
}
