html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  overflow: auto;
  overflow-y: scroll;
}
body {
  background: #fff;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}
p {
  margin: 0 0 1.5em 0;
  line-height: 1.8;
  font-size: 1.7em;
}
p.first {
  padding-top: 1.5em;
  margin: 0;
}
li {
  line-height: 1.5;
}
li a {
  padding: .3em 0;
  display: block;
}
ul {
  padding: 2em 0 0 0;
}
ul li {
  display: inline-block;
  background: #fff;
  border-left: .5em solid #008cff;
  font-size: 1.6em;
  padding: .5em 1em;
  margin: 0 .5em 1em 0;
}
ul li a,
ul li ul li a:visited {
  display: inline;
}
ul li:hover {
  background-color: #0088ff;
  border-color: #fff;
}
ul li:hover a {
  color: #fff;
}
a,
a:link,
a:active,
a:visited {
  color: #0088ff;
  text-decoration: none;
}
a .symbol,
a:link .symbol,
a:active .symbol,
a:visited .symbol {
  color: #954a00;
  padding-top: 0;
  margin-top: 0;
}
a:hover {
  color: #0033ff;
}
a:hover .symbol {
  color: #0088ff;
}
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}
.time {
  font-size: 1.3em;
  font-weight: bold;
}
.skill {
  border-style: solid;
  border-width: 0.1em;
  background-color: #fff;
  padding: 0.2em;
  font-weight: bold;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.8em;
}
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}
.contentback {
  color: #000;
  /* This notation allows solid elements inside non solid elements */
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.contentback-left {
  padding: 2%;
}
.contentback-right {
  padding: 2%;
}
.alternate {
  padding-left: 5%;
}
#introduction {
  background-image: url("../images/roca.jpg");
  background-color: #e7ecff;
}
#introduction header {
  font-size: 3em;
  font-family: 'Julius Sans One', sans-serif;
  color: #0088ff;
  text-shadow: 1px 0px 1px #969696;
  padding-left: 1.1em;
  background-image: url("../images/jonasurbano.png");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center left;
}
#introduction .contentback-left {
  margin-top: 2.5%;
}
#introduction .important {
  color: #954a00;
}
.actions {
  margin-bottom: 1.25%;
}
#sosti {
  background-position: top left;
  background-image: url("../images/frappe.jpg");
  background-color: #BBE5F9;
}
#sosti .contentback-right {
  font-weight: lighter;
}
#sosti .time,
#sosti .important,
#sosti .skill {
  color: #5c7d44;
}
#ducktionary {
  background-image: url("../images/duck.jpg");
  background-color: #39a888;
}
#ducktionary .time,
#ducktionary .important,
#ducktionary .skill {
  color: #009449;
}
#ducktionary .contentback-keft {
  font-weight: lighter;
}
#pfc {
  background-image: url("../images/murallaciudad.jpg");
  background-color: #d0a583;
}
#pfc .contentback-right {
  font-weight: lighter;
}
#pfc .time,
#pfc .important,
#pfc .skill {
  color: #d0a583;
}
#java-desktop {
  background-image: url("../images/sol.jpg");
  background-color: #525e74;
}
#java-desktop .contentback-left {
  font-weight: lighter;
}
#java-desktop .time,
#java-desktop .important,
#java-desktop .skill {
  color: #f69862;
}
#ecdo {
  background-image: url("../images/agua.jpg");
  background-color: #599fd2;
}
#ecdo .contentback {
  font-weight: lighter;
}
#ecdo .time,
#ecdo .important,
#ecdo .skill {
  color: #599fd2;
}
#ending {
  background-image: url("../images/jonasurbano2.jpg");
  background-color: #d7a46d;
  background-position: center right;
}
#ending .contentback {
  font-weight: lighter;
}
#ending .time,
#ending .important {
  color: #f69862;
}
#ending .important {
  color: #954a00;
}
.important {
  font-weight: bold;
}
a.cv {
  display: inline-block;
  border: solid 1px #0033ff;
  margin-top: 1.2em;
  background-color: #0088ff;
  color: #fff;
  padding: 0 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
a.cv:hover {
  border: solid 1px #0088ff;
  background-color: #AED9FF;
  color: #0088ff;
}
.screenshots {
  width: 100%;
}
#img-ducktionary {
  width: auto;
  max-width: 100%;
}
/* max-resolution: 126dpi is required for IE.
    It sould be 124.7dpi similarly to
    http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/

    First and second media queries are supposed
    to behave equally.
*/
@media (orientation: landscape) and (min-width: 930px) and (-webkit-max-device-pixel-ratio: 1.29), (orientation: landscape) and (min-width: 930px) and (max-resolution: 126dpi), (orientation: landscape) and (min-width: 930px) and (max-aspect-ratio: 15/10) {
  section {
    height: 100%;
  }
  .contentback-left {
    max-width: 50%;
    padding: 2%;
  }
  .contentback-right {
    padding: 3.5%;
  }
  .alternate {
    padding-left: 55%;
  }
  a.cv {
    padding: 0 0.6em;
  }
  #introduction header {
    font-size: 6em;
  }
}
/*# sourceMappingURL=style.css.map */