/* line 1, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\000031}}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 8, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\000038}}
html {
  overflow: auto;
  overflow-y: scroll;
}
/* line 13, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000313}}
body {
  background: #fff;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}
/* line 21, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000321}}
h1 {
  font-size: 10em;
  margin: 0 0 .5em 0;
  line-height: 1;
  max-width: 2em;
}
/* line 28, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000328}}
p {
  margin: 0 0 1.5em 0;
  line-height: 1.8;
  max-width: 38em;
  font-size: 2em;
}
/* line 35, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000335}}
p.first {
  padding-top: 1.5em;
  margin: 0;
}
/* line 40, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000340}}
li {
  line-height: 1.5;
}
/* line 44, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000344}}
li a {
  padding: .3em 0;
  display: block;
}
/* line 49, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000349}}
ul {
  padding: 2em 0 0 0;
}
/* line 53, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000353}}
ul li {
  display: inline-block;
  background: #fff;
  border-left: .5em solid #008cff;
  font-size: 1.6em;
  padding: .5em 1em;
  margin: 0 .5em 1em 0;
}
/* line 62, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000362}}
ul li a,
ul li a:visited {
  display: inline;
}
/* --------------------------------------- */
/* line 68, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000368}}
a,
a:link,
a:active,
a:visited {
  color: #0088ff;
  text-decoration: none;
}
/* line 72, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000372}}
a .symbol,
a:link .symbol,
a:active .symbol,
a:visited .symbol {
  color: #954a00;
  padding-top: 0;
  margin-top: 0;
}
/* line 79, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000379}}
a:hover {
  color: #0033ff;
}
/* line 82, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000382}}
a:hover .symbol {
  color: #0088ff;
}
/* line 93, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\0000393}}
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  padding: 5%;
}
/* line 106, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003106}}
.time {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 111, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003111}}
.roundbordered {
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
}
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.eot');
  src: url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.woff') format('woff'), url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* line 142, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003142}}
.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.8em;
}
/* line 157, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003157}}
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}
/* line 163, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003163}}
.contentback {
  color: #000;
  /* This notation allows solid elements inside non solid elements */
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 172, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003172}}
#introduction {
  background-image: url("../images/roca.jpg");
  background-color: #e7ecff;
}
/* line 176, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003176}}
#introduction header {
  font-size: 4em;
  font-family: 'Julius Sans One', sans-serif;
  color: #0088ff;
  text-shadow: 1px 0px 1px #969696;
  padding-left: 1.1em;
  background-image: url("../images/jonasurbano.png");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 189, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003189}}
#introduction .contentback-left {
  margin-top: 2.5%;
}
/* line 193, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003193}}
#introduction .important {
  color: #954a00;
}
/* line 198, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003198}}
.actions {
  margin-bottom: 1.25%;
}
/* line 202, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003202}}
#sosti {
  background-position: top left;
  background-image: url("../images/frappe.jpg");
  background-color: #BBE5F9;
}
/* line 207, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003207}}
#sosti .contentback-right {
  font-weight: lighter;
}
/* line 211, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003211}}
#sosti .time,
#sosti .important {
  color: #5c7d44;
}
/* line 216, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003216}}
#ducktionary {
  background-image: url("../images/duck.jpg");
  background-color: #39a888;
}
/* line 220, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003220}}
#ducktionary .time,
#ducktionary .important {
  color: #009449;
}
/* line 224, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003224}}
#ducktionary .contentback-keft {
  font-weight: lighter;
}
/* line 231, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003231}}
#pfc {
  background-image: url("../images/murallaciudad.jpg");
  background-color: #d0a583;
}
/* line 237, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003237}}
#pfc .contentback-right {
  font-weight: lighter;
}
/* line 241, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003241}}
#pfc .time,
#pfc .important {
  color: #d0a583;
}
/* line 247, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003247}}
#java-desktop {
  background-image: url("../images/sol.jpg");
  background-color: #525e74;
}
/* line 251, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003251}}
#java-desktop .contentback-left {
  font-weight: lighter;
}
/* line 255, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003255}}
#java-desktop .time,
#java-desktop .important {
  color: #f69862;
}
/* line 260, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003260}}
#ecdo {
  background-image: url("../images/agua.jpg");
  background-color: #599fd2;
}
/* line 266, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003266}}
#ecdo .contentback {
  font-weight: lighter;
}
/* line 270, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003270}}
#ecdo .time,
#ecdo .important {
  color: #599fd2;
}
/* line 275, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003275}}
#ending {
  background-image: url("../images/jonasurbano2.jpg");
  background-color: #d7a46d;
  background-position: center right;
}
/* line 280, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003280}}
#ending .contentback {
  font-weight: lighter;
}
/* line 284, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003284}}
#ending .time,
#ending .important {
  color: #f69862;
}
/* line 288, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003288}}
#ending .important {
  color: #954a00;
}
/* line 293, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003293}}
.important {
  font-weight: bold;
}
/* line 297, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003297}}
a.cv {
  display: inline-block;
  border: solid 1px #0033ff;
  margin-top: 1.2em;
  padding: 0 0.6em;
  background-color: #0088ff;
  color: #fff;
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 306, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003306}}
a.cv:hover {
  border: solid 1px #0088ff;
  background-color: #AED9FF;
  color: #0088ff;
}
/* line 313, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003313}}
.screenshots {
  width: 100%;
}
/* line 317, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003317}}
#img-ducktionary {
  width: 100%;
}
/* line 321, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003321}}
#img-ecdo {
  width: 100%;
}
/* line 325, D:\Github\jonascv\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003325}}
#img-java-desktop {
  width: 100%;
}
@media all and (orientation: landscape) {
  /* line 330, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003330}}
  section {
    height: 100%;
    background-size: 100%;
  }
  /* line 335, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003335}}
  .contentback-left {
    color: #000;
    /* This notation allows solid elements inside non solid elements */
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    max-width: 60%;
    padding: 2%;
  }
  /* line 342, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003342}}
  .contentback-right {
    color: #000;
    /* This notation allows solid elements inside non solid elements */
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 3.5%;
  }
  /* line 348, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003348}}
  .alternate {
    padding-left: 55%;
  }
}
@media all and (orientation: portrait) {
  /* line 354, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003354}}
  section {
    background-size: cover;
  }
  /* line 358, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003358}}
  .contentback-left {
    color: #000;
    /* This notation allows solid elements inside non solid elements */
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 2%;
  }
  /* line 364, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003364}}
  .contentback-right {
    color: #000;
    /* This notation allows solid elements inside non solid elements */
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 2%;
  }
  /* line 370, D:\Github\jonascv\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Github\/jonascv\/less\/style\.less}line{font-family:\00003370}}
  .alternate {
    padding-left: 5%;
  }
}
