html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    overflow:auto;
    overflow-y: scroll;
}

body {
    background:#fff;
    color:rgba(0,0,0,1);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:62.5%;
}

p {
    margin:0 0 1.5em 0;
    line-height: 1.8;
    font-size:1.7em;
}

p.first {
    padding-top:1.5em;
    margin:0;
}

li {
    line-height: 1.5;
}

li a {
    padding:.3em 0;
    display: block;
}

ul {
    padding:2em 0 0 0;
}

ul li {
    display: inline-block;
    background: #fff;
    border-left:.5em solid #008cff;
    font-size:1.6em;
    padding:.5em 1em;
    margin:0 .5em 1em 0;
    
    a, ul li a:visited {
        display: inline;
    }
    
    &:hover {
        background-color: @blue1;
        border-color: #fff;

        a {
            color: #fff;
        }
    }
}

a, a:link, a:active, a:visited {
    color: @blue1;
    text-decoration: none;

    .symbol {
        color: @brown1;
        padding-top: 0;
        margin-top: 0;
    }
}

a:hover {
    color: @blue2;

    .symbol {
        color: @blue1;            
    }
}

@base: 5%;
@content: @base * 10;
@half: @base * 10;
@content-padding: 2%;                   // @base / @content
@content-padding-alternate: 3.5%;       // parent is only 40%

section {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding: @base;
}

.time {
    font-size: 1.3em;
    font-weight: bold;
}

.roundbordered {
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 6px;
    border-bottom-right-radius: 6px;    
}

@images: "../images";

@light-purple: #e7ecff;
@blue1: #08f;
@blue2: #03f;
@brown1: #954a00;
@light-orange: #ffd2a5;

@icons-path: "../icons/MonoSocialIconsFont/MonoSocialIconsFont-1.10";

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('@{icons-path}.eot');
    src: url('@{icons-path}.eot?#iefix') format('embedded-opentype'),
         url('@{icons-path}.woff') format('woff'),
         url('@{icons-path}.ttf') format('truetype'),
         url('@{icons-path}.svg#MonoSocialIconsFont') format('svg');
    src: url('@{icons-path}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.8em;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.contentback {
    color: #000;

    /* This notation allows solid elements inside non solid elements */
    background-color: rgba(255,255,255,0.8);

    .roundbordered;
}

#introduction {
    background-image:url("@{images}/roca.jpg");
    background-color: @light-purple;
       
    header {
        font-size: 4em;
        font-family: 'Julius Sans One', sans-serif;
        color: @blue1;
        text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
        
        padding-left: 1.1em;
        background-image: url("@{images}/jonasurbano.png");
        background-size: 1em;
        background-repeat: no-repeat;
        background-position: center left;
    }
    
    .contentback-left {
        margin-top: @base / 2;
    }

    .important {
        color: @brown1;
    }    
}

.actions {
    margin-bottom: @base / 4;
}
    
#sosti {
    background-position: top left;
    background-image:url("@{images}/frappe.jpg");
    background-color: #BBE5F9;
    
    .contentback-right {
        font-weight: lighter;
    } 

    .time, .important {
        color: #5c7d44;
    }
}

#ducktionary {
    background-image:url("@{images}/duck.jpg");
    background-color: #39a888;

    .time, .important {
        color: #009449;    
    }

    .contentback-keft {
        font-weight: lighter;
    }
}

@brown-wall: #d0a583;

#pfc {
    background-image: url("@{images}/murallaciudad.jpg");
    background-color: @brown-wall;
    
    .contentback-right {
        font-weight: lighter;
    }

    .time, .important {
        color: @brown-wall;
    }
}


#java-desktop {
    background-image: url("@{images}/sol.jpg");
    background-color: #525e74;
    
    .contentback-left {
        font-weight: lighter;
    }

    .time, .important {
        color: #f69862;
    }
}

#ecdo {
    background-image: url("@{images}/agua.jpg");
    background-color: #599fd2;

    .contentback {
        font-weight: lighter;
    }

    .time, .important {
        color: #599fd2;
    }
}

#ending {
    background-image: url("@{images}/jonasurbano2.jpg");
    background-color: #d7a46d;
    background-position: center right;
    
    .contentback {
        font-weight: lighter;
    }

    .time, .important {
        color: #f69862;
    }       

    .important {
        color: #954a00;
    }
}

.important {
    font-weight: bold;
}

a.cv {
    display: inline-block;
    border: solid 1px @blue2;
    margin-top: 1.2em;
    background-color: @blue1;
    color: #fff;
    .roundbordered;

    &:hover {
        border: solid 1px @blue1;
        background-color: #AED9FF;
        color: @blue1;
    }
}

.screenshots {
    width: 100%;
}

#img-ducktionary {
    width: auto;
    max-width: 100%;
}

@media all and (orientation: landscape) and (min-width: 740px) {
    section {
        height: 100%;
    }
    
    .contentback-left {
        max-width: @content;
        padding: @content-padding;
    }

    .contentback-right {
        padding: @content-padding-alternate;
    }
    
    .alternate {
        padding-left: @half + @base;
    }
    
    a.cv {
        padding: 0 0.6em;
    }
}

@media all and (orientation: portrait), 
    (orientation: landscape) and (max-width: 740px) {
    
    .contentback-left {
        padding: @content-padding;
    }

    .contentback-right {
        padding: @content-padding;
    }
    
    .alternate {
        padding-left: @base;
    }
    
    #introduction header {
        font-size: 3em;
    }
    
    a.cv {
        padding: 0 1.6em;
    }
}